<footer class="footer centered-text">
    <div>
        <ul>
            <li><a href="{{ site.baseurl }}/" class="black-color">Home</a></li>
            <li><a href="{{ site.baseurl }}/about" class="black-color">About</a></li>
            <li><a href="{{ site.baseurl }}/platforms" class="black-color">Platforms</a></li>
            <li><a href="{{ site.baseurl }}/feed.xml" class="black-color">RSS Feed</a></li>
            <li><a href="{{ site.baseurl }}/privacy" class="black-color">Privacy Notice</a></li>
        </ul>
    </div>
</footer>
