<footer class="footer centered-text">
    <div>
        <ul>
            <li><a href="{{ site.baseurl }}/" class="black-color">Home</a></li>
            <li><a href="./about" class="black-color">About</a></li>
            <li><a href="./platforms" class="black-color">Platforms</a></li>
            <li><a href="./feed.xml" class="black-color">RSS Feed</a></li>
            <li><a href="./impressum" class="black-color">Impressum</a></li>
            <li><a href="./privacy" class="black-color">Privacy Notice</a></li>
        </ul>
    </div>
</footer>
