$max-width: 640px;
$post-separation: 64px;

html {
  font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
  line-height: 20pt;
}

img {
  display: block;
  width: 95%;
  margin: 0 auto;
}

table {
  display: table;
  width: 95%;
  margin: 0 auto;
  border: 1px solid;
  text-align: center;
  table-layout: fixed;
}

td, th {
  border: 1px solid #DAE1E7;
  padding: 8px;
  width: 100%;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8795A1;
  color: white;

  text-align: center;
  vertical-align: middle;
}

a {
  color: #003F10;
}

a, a:visited, a:active {
  color: #003F10;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: green;
}

blockquote {
  font-style: italic;
  border-left: 5px solid #D8D8D8;
  padding-left: 8px;
}

blockquote:not(blockquote:nth-child(2)) {
  margin-left: 0;
}

pre {
  code {
    display: block;
    border-radius: 10px;
  }
}

code {
  font-family: monospace;
  background-color: #D8D8D8;
  padding: 3px 5px 1px 5px;
  border-radius: 5px;
}

.post-list {
  list-style-type: none;

  li {
    margin-bottom: $post-separation;
  }
}

.archive-post-link {
  font-size: 24px;
  font-weight: 600;
}

.post-meta {
  color: rgb(117, 117, 117);
  margin-top: 24px;
}

.center {
  max-width: $max-width;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.header-info {
  margin-bottom: 48px;
}

.black-color {
  color: black !important;
}

.footer {
  max-width: $max-width;
  margin: $post-separation auto 0 auto;

  ul {
    padding: 0;
    list-style-type: none;

    li {
      display: inline;
      margin: 10px 10px 0 0;
      white-space: nowrap;
    }
  }
}
