---
layout: default
---

<header>
  <h1 class="centered-text">{{ site.title }}</h1>
</header>

{%- include home_header.html -%}

{{ content }}

{%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in site.posts limit: 5 -%}
    <li>
      <h3>
        <a class="post-link black-color" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      {%- if post.show_description -%}
        <p>{{ post.description }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
    <li class="centered-text">
      <a class="archive-post-link black-color" href="./archive/">Blog Archive</a>
    </li>
  </ul>
{%- endif -%}
